@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    &__top{
        display: flex;
        align-items: center;
        padding: 30px 0;
        justify-content: space-between;
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
    }
    &__content{
        padding-top: 120px;
        position: relative;
    }
    &__content-box{
        align-items: center;
        max-width: 550px;
        margin-left: 40px;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 64px;
        line-height: 71px;
    }
    &__text{
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 10px;
    }
    &__decor-text{
        position: absolute;
        color: rgba(#FF3559, .2);
        font-size: 64px;
        font-family: 'Comfortaa', cursive;
        text-transform: uppercase;
    }
    &__decor-text--one{
        right: 0;
        top: 50px;
        font-weight: 800;
    }
    &__decor-text--two{
        left: 0px;
        bottom: -70px;
        font-weight: 800;
    }
    &__decor-text--three{
        right: 245px;
        max-width: 360px;
        font-size: 32px;
        font-style: italic;
        font-weight: 300;
        line-height: 39px;
        text-align: center;
        bottom: 0px;
    }
}

.logo path{
    transition: fill .3s ease;
}
.logo:hover path{
    fill: #000;
}

.phone__btn{
    text-transform: uppercase;
    background-color: #FF3559;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    transition: all .5s;
    &:hover{
        color: #FF3559;
        background-color: #000;
    }
}

.info{
    background-image: url(../images/info-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__top{
        padding-top: 80px;
        display: flex;
        gap: 60px;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__top-text{
        padding-top: 120px;
        position: relative;
    }
    &__top-text-theses{
        margin-top: 10px;
        padding-left: 25px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 8px;
            bottom: 0;
            background-color: #FF3559;
            height: 10px;
            width: 10px;
            border-radius: 50%;
        }
    }
    &__top-img{
        max-height: 550px;
    }
    &__top-text--one{
        padding-bottom: 125px;
    }
    &__benefit{
        display: flex;
        align-items: center;
        gap: 100px;
        padding-bottom: 50px;
    }
    &__benefit-title{
        padding-bottom: 30px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-size: 50px;
        line-height: 67px;

    }
    &__benefit-text{
        padding-bottom: 20px;
    }   
}
.decor__img{
    max-width: 100%;
    width: 100%;
    max-height: 150px;
}
.popup__btn{
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    & span{
        padding-top: 12px;
        display: block;
        transition: color .3s;
    }
}
.popup__btn path{
    transition: fill .3s;
}
.popup__btn:hover path{
    fill: #FF3559;
}
.popup__btn span:hover{
    color: #FF3559;
}
.sale{
    &__title{
        padding-top: 80px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-size: 50px;
        line-height: 67px;
        color: #FF3559;
        padding-bottom: 50px;
    }
    &__items{
        display: flex;
        justify-content: space-around;
        padding-bottom: 50px;
        flex-wrap: wrap;
        gap: 50px;
    }
    &__item{
        text-align: center;
        padding: 20px;
        border-radius: 30px;
        box-shadow: (0px 5px 10px rgba(#FF3559, 0.2));
    }
    &__item-img{
        max-width: 250px;

    }
    &__item-title{
        padding: 15px 0;
        max-width: 250px;
    }
    &__item-price{
        font-size: 22px;
        font-weight: 700;
        color: #FF3559;
        font-family: 'Comfortaa', cursive;
        padding-bottom: 20px;
    }
}

.contacts{
    padding-bottom: 100px;
    background-image: url(../images/info-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__title{
        padding-top: 100px;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-size: 50px;
        line-height: 67px;
        text-align: right;
        padding-bottom: 50px;
        font-weight: 700;
    }
    &__box{
        text-align: center;
        margin-top: 60px;
        font-family: 'Comfortaa', cursive;
        font-size: 30px;
        font-weight: 700;
        line-height: 22px;
    }
    &__address{
        margin-bottom: 30px;
    }
    &__phone{
        margin-bottom: 30px;
        display: inline-block;
    }
    &__social-item{
        display: inline-block;
    }
    &__social-link{
        padding: 0 25px;
    }
    &__social-link path{
        transition: fill .3s ease;
    }
    &__social-link:hover path{
        fill: #FF3559;
    }
}
.gallery{
 &__slider-img{
    max-width: 300px;
    object-fit: cover;
    margin: 0 auto;
 }   
 &__inner{
    padding-bottom: 50px;
    padding-top: 50px;
 }
 &__slider-item{
    padding: 0 40px 20px 40px;
    position: relative;
    &:hover{
        .gallery__slider-text{
            opacity: 1;
        }
    }
    
 }
 &__slider-text{
    position: absolute;
    transition: all .5s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#fff, 0.7);
    color: #000;
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    cursor: pointer; 
 }
 .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        margin: 0px 15px;
    }
    button{
        background-color: #000;
        border: none;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
    }
    li.slick-active{
        button{
            background-color: #FF3559;
        }
    }
 }
}
.footer{
    background-image: url(../images/info-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    &__contant{
        padding-top: 100px;
    }
    &__inner{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        gap: 70px;
    }
    &__info{
        width: 540px;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-size: 50px;
        line-height: 67px; 
        margin-bottom: 30px;
    }
    &__info-email{
        margin-bottom: 30px;
        display: block;
    }
    &__form{
        display: flex;
        justify-content: center;
        display: inline-block;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        margin-bottom: 20px;
        border-radius: 21px;
        outline: none;
        background-color: transparent;
        border: 1px solid #FF3559;
        width: 100%;
        &::placeholder{
            font-family: 'Inter', sans-serif;
	        font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #000;
        }
    }
    &__form-area{
        padding: 6px 10px 6px 18px;
        margin-bottom: 20px;
        border-radius: 21px;
        outline: none;
        background-color: transparent;
        border: 1px solid #FF3559;
        width: 100%;
        resize: none;
        &::placeholder{
            font-family: 'Inter', sans-serif;
	        font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #000;
        } 
    }
    &__form-button{
        text-transform: uppercase;
        background-color: #FF3559;
        padding: 12px 30px;
        border: none;
        border-radius: 30px;
        transition: all .5s;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
        &:hover{
            color: #FF3559;
            background-color: #000;
        }
    }
    &__social-item{
        margin-bottom: 40px;
    }
    &__copy{
        text-align: center;
        font-size: 12px;
        padding: 10px 0;
        border-top: 1px solid #000;

    }
}

.footer__social-link path{
    transition: fill .3s ease;
}
.footer__social-link:hover path{
    fill: #FF3559;
}


@import 'media';